{% extends "base_administrador.html" %}

{% block conteudo %}

<h1>Cadastro de Colaborador</h1>

{% if erro %}
    <div class="form-error">{{ erro }}</div>
    <br>
{% endif %}

<form method="POST" action="/salvar-colaborador">

    <input
        type="text"
        name="nome"
        placeholder="Nome Completo"
        pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+(?: [A-Za-zÀ-ÖØ-öø-ÿ]+)*"
        title="Use apenas letras e espaços."
        required>

    <br><br>

    <select name="vinculo" required>
        <option value="">Selecione o Vínculo</option>
        <option>Estagiário</option>
        <option>Servidor</option>
        <option>Terceirizado</option>
        <option>Residente Jurídico</option>
        <option>Outro</option>
    </select>

    <br><br>

    <select name="nucleo" required>
        <option value="">Selecione o Núcleo</option>
        <option>Assistência de Arbitragens</option>
        <option>Coordenadoria de Execuções Contra a Fazenda Pública (CEFAP)</option>
        <option>Grupo Especial de Atuação do Contencioso Geral (GEAC)</option>
        <option>Núcleo Ambiental (NA)</option>
        <option>Núcleo de Apoio e Transformação de TI (NAT-TI)</option>
        <option>Núcleo de Poder de Polícia (NPP)</option>
        <option>Núcleo de Saúde Pública (NSP)</option>
        <option>Núcleo Trabalhista (NT)</option>
        <option>SubCG</option>
        <option>Núcleo de Contencioso PGE DETRAN</option>
        <option>Núcleo de Gestão e Prevenção de Demandas Repetitivas (GPDR)</option>
        <option>Núcleo de Pessoal Carreiras de Estado (NPCE)</option>
        <option>Núcleo de Pessoal Educação (NPE)</option>
        <option>Núcleo de Pessoal Militar (NPM)</option>
        <option>Núcleo de Pessoal Residual (NPR)</option>
        <option>Núcleo de Políticas Públicas (NPPublicas)</option>
        <option>Núcleo de Propositura de Ações (NPA)</option>
        <option>Núcleo de Regulações e Contratações Públicas (NRCP)</option>
        <option>Núcleo de Responsabilidade Civil (NRC)</option>
        <option>Núcleo Estratégico de Pessoal e Previdenciário (NEPP)</option>
        <option>Núcleo Imobiliário (NI)</option>
        <option>Núcleo Previdenciário (SPPREV)</option>
        <option>Núcleo Responsabilidade Subsidiária de Serviços Terceirizados (NRST)</option>
        <option>Procuradoria do Estado de São Paulo em Brasília (PESPB)</option>
    </select>

    <br><br>

    <select name="turno" required>
        <option value="">Selecione o Turno</option>
        <option>Manhã</option>
        <option>Tarde</option>
        <option>Integral</option>
        <option>Personalizado</option>
    </select>

    <br><br>

    <input
        type="text"
        name="horario"
        placeholder="Horário (Ex.: 08:00 às 14:00)">

    <br><br>

    <select name="presencial" required>
        <option value="">Modalidade de Trabalho</option>
        <option>Presencial</option>
        <option>Home Office</option>
        <option>Híbrido</option>
    </select>

    <br><br>

    <select name="unidade_exercicio" required>
        <option value="">Unidade de Exercício</option>
        <option>Procuradoria Regional da Grande São Paulo (PR01)</option>
        <option>Procuradoria Regional de Santos (PR02)</option>
        <option>Procuradoria Regional de Taubaté (PR03)</option>
        <option>Procuradoria Regional de Sorocaba (PR04)</option>
        <option>Procuradoria Regional de Campinas (PR05)</option>
        <option>Procuradoria Regional de Ribeirão Preto (PR06)</option>
        <option>Procuradoria Regional de Bauru (PR07)</option>
        <option>Procuradoria Regional de São José do Rio Preto (PR08)</option>
        <option>Procuradoria Regional de Araçatuba (PR09)</option>
        <option>Procuradoria Regional de Presidente Prudente (PR10)</option>
        <option>Procuradoria Regional de Marília (PR11)</option>
        <option>Procuradoria Regional de São Carlos (PR12)</option>
    </select>

    <br><br>

    <input
        type="text"
        name="procurador_monitor"
        placeholder="Procurador Monitor"
        pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+(?: [A-Za-zÀ-ÖØ-öø-ÿ]+)*"
        title="Use apenas letras e espaços.">

    <br><br>

    <input
        type="text"
        name="celular"
        placeholder="Número de Celular">

    <br><br>

    <input
        type="text"
        name="login"
        placeholder="Login do Colaborador"
        required>

    <br><br>

    <input
        type="text"
        name="senha"
        value="Novocolab123"
        readonly>

    <br><br>

    <button type="submit">
        Cadastrar Colaborador
    </button>

</form>

{% endblock %}