{% extends "base_administrador.html" %}

{% block conteudo %}

<h1>Colaboradores Cadastrados</h1>

<input
    type="text"
    placeholder="Pesquisar colaborador">

<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>Nome</th>
        <th>Núcleo</th>
        <th>Turno</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>

    {% for colaborador in colaboradores %}

    <tr>

        <td>{{ colaborador[1] }}</td>

        <td>{{ colaborador[3] }}</td>

        <td>{{ colaborador[4] }}</td>

        <td>

            {% if colaborador[12] == 'Ativo' %}

                <span style="color:green;">
                    ● Ativo
                </span>

            {% else %}

                <span style="color:red;">
                    ● Inativo
                </span>

            {% endif %}

        </td>

        <td>

            <a href="/editar-colaborador/{{ colaborador[0] }}">
                <button>Editar</button>
            </a>

            <a href="/resetar-senha-colaborador/{{ colaborador[0] }}"
               onclick="return confirm('Deseja resetar a senha de {{ colaborador[1] }}?');">

                <button>
                    Resetar Senha
                </button>

            </a>

            <a href="/cancelar-colaborador/{{ colaborador[0] }}"
               onclick="return confirm('Tem certeza que deseja cancelar o cadastro de {{ colaborador[1] }}?');">

                <button>
                    Cancelar Cadastro
                </button>

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}