{% extends "base_administrador.html" %}

{% block conteudo %}

<h1>Editar Colaborador</h1>

<form method="POST"
      action="/atualizar-colaborador/{{ colaborador[0] }}">

    <label>Nome Completo</label>

    <br><br>

    <input
        type="text"
        name="nome"
        value="{{ colaborador[1] }}"
        required>

    <br><br>

    <label>Núcleo</label>

    <br><br>

    <select name="nucleo" required>

        <option {% if colaborador[3] == 'Assistência de Arbitragens' %}selected{% endif %}>
            Assistência de Arbitragens
        </option>

        <option {% if colaborador[3] == 'Coordenadoria de Execuções Contra a Fazenda Pública (CEFAP)' %}selected{% endif %}>
            Coordenadoria de Execuções Contra a Fazenda Pública (CEFAP)
        </option>

        <option {% if colaborador[3] == 'Grupo Especial de Atuação do Contencioso Geral (GEAC)' %}selected{% endif %}>
            Grupo Especial de Atuação do Contencioso Geral (GEAC)
        </option>

        <option {% if colaborador[3] == 'Núcleo Ambiental (NA)' %}selected{% endif %}>
            Núcleo Ambiental (NA)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Poder de Polícia (NPP)' %}selected{% endif %}>
            Núcleo de Poder de Polícia (NPP)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Saúde Pública (NSP)' %}selected{% endif %}>
            Núcleo de Saúde Pública (NSP)
        </option>

        <option {% if colaborador[3] == 'Núcleo Trabalhista (NT)' %}selected{% endif %}>
            Núcleo Trabalhista (NT)
        </option>

        <option {% if colaborador[3] == 'SubCG' %}selected{% endif %}>
            SubCG
        </option>

        <option {% if colaborador[3] == 'Núcleo de Contencioso PGE DETRAN' %}selected{% endif %}>
            Núcleo de Contencioso PGE DETRAN
        </option>

        <option {% if colaborador[3] == 'Núcleo de Gestão e Prevenção de Demandas Repetitivas (GPDR)' %}selected{% endif %}>
            Núcleo de Gestão e Prevenção de Demandas Repetitivas (GPDR)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Pessoal Carreiras de Estado (NPCE)' %}selected{% endif %}>
            Núcleo de Pessoal Carreiras de Estado (NPCE)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Pessoal Educação (NPE)' %}selected{% endif %}>
            Núcleo de Pessoal Educação (NPE)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Pessoal Militar (NPM)' %}selected{% endif %}>
            Núcleo de Pessoal Militar (NPM)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Pessoal Residual (NPR)' %}selected{% endif %}>
            Núcleo de Pessoal Residual (NPR)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Políticas Públicas (NPPublicas)' %}selected{% endif %}>
            Núcleo de Políticas Públicas (NPPublicas)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Propositura de Ações (NPA)' %}selected{% endif %}>
            Núcleo de Propositura de Ações (NPA)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Regulações e Contratações Públicas (NRCP)' %}selected{% endif %}>
            Núcleo de Regulações e Contratações Públicas (NRCP)
        </option>

        <option {% if colaborador[3] == 'Núcleo de Responsabilidade Civil (NRC)' %}selected{% endif %}>
            Núcleo de Responsabilidade Civil (NRC)
        </option>

        <option {% if colaborador[3] == 'Núcleo Estratégico de Pessoal e Previdenciário (NEPP)' %}selected{% endif %}>
            Núcleo Estratégico de Pessoal e Previdenciário (NEPP)
        </option>

        <option {% if colaborador[3] == 'Núcleo Imobiliário (NI)' %}selected{% endif %}>
            Núcleo Imobiliário (NI)
        </option>

        <option {% if colaborador[3] == 'Núcleo Previdenciário (SPPREV)' %}selected{% endif %}>
            Núcleo Previdenciário (SPPREV)
        </option>

        <option {% if colaborador[3] == 'Núcleo Responsabilidade Subsidiária de Serviços Terceirizados (NRST)' %}selected{% endif %}>
            Núcleo Responsabilidade Subsidiária de Serviços Terceirizados (NRST)
        </option>

        <option {% if colaborador[3] == 'Procuradoria do Estado de São Paulo em Brasília (PESPB)' %}selected{% endif %}>
            Procuradoria do Estado de São Paulo em Brasília (PESPB)
        </option>

    </select>

    <br><br>

    <label>Turno</label>

    <br><br>

    <select name="turno" required>

        <option {% if colaborador[4] == 'Manhã' %}selected{% endif %}>
            Manhã
        </option>

        <option {% if colaborador[4] == 'Tarde' %}selected{% endif %}>
            Tarde
        </option>

        <option {% if colaborador[4] == 'Integral' %}selected{% endif %}>
            Integral
        </option>

        <option {% if colaborador[4] == 'Personalizado' %}selected{% endif %}>
            Personalizado
        </option>

    </select>

    <br><br>

    <label>Horário</label>

    <br><br>

    <input
        type="text"
        name="horario"
        value="{{ colaborador[5] }}">

    <br><br>

    <label>Celular</label>

    <br><br>

    <input
        type="text"
        name="celular"
        value="{{ colaborador[9] }}">

    <br><br>

    <button type="submit">
        Salvar Alterações
    </button>

</form>

{% endblock %}