{% extends "base_colaborador.html" %}

{% block conteudo %}

<h1>Registro de Ponto</h1>

<h3>Olá, {{ nome }}</h3>

<p id="dataAtual"></p>

<h2 id="relogio">--:--:--</h2>

<hr>

<h2>Registros de Hoje</h2>

<div class="card-registro">

    <p>

        <strong>Entrada:</strong>

        {{ entrada }}

    </p>

    <p>

        <strong>Saída:</strong>

        {{ saida_final }}

    </p>

</div>

<hr>

<h2>Registrar Horários</h2>

<form action="/registrar-entrada" method="POST">

    <label>Horário de Entrada</label>

    <br><br>

    <input
        type="time"
        name="entrada"
        required
        {% if entrada_registrada %}disabled{% endif %}>

    <button type="submit" {% if entrada_registrada %}disabled{% endif %}>

        Salvar Entrada

    </button>

</form>

<br><br>

<form action="/registrar-saida-final" method="POST">

    <label>Horário de Saída</label>

    <br><br>

    <input
        type="time"
        name="saida_final"
        required
        {% if saida_registrada %}disabled{% endif %}>

    <button type="submit" {% if saida_registrada %}disabled{% endif %}>

        Salvar Saída

    </button>

</form>

<hr>

<script>

function atualizarRelogio() {

    const agora = new Date();

    document.getElementById("relogio").innerHTML =
        agora.toLocaleTimeString();

}

setInterval(atualizarRelogio, 1000);

atualizarRelogio();

const hoje = new Date();

document.getElementById("dataAtual").innerHTML =
    hoje.toLocaleDateString('pt-BR');

</script>

{% endblock %}