<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Ponto Web</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="sidebar">

    <h1>Ponto Web</h1>

    <a href="/dashboard-gestor-nucleo">
        🏠 Dashboard
    </a>

    <a href="/cadastro-colaborador">
        👥 Cadastrar Colaborador
    </a>

    <a href="/colaboradores-cadastrados">
        👨🏻‍💼 Colaboradores
    </a>

    <a href="/solicitacoes-ajuste">
        📝 Solicitações de Ajuste
    </a>

    <a href="/relatorios">
        📊 Relatórios
    </a>

    <a href="/calendario">
        📅 Calendário
    </a>

    <a href="/">
        🚪 Sair
    </a>

</div>


<div class="conteudo">

    {% block conteudo %}
    {% endblock %}

</div>

</body>
</html>