{% extends "base.html" %}

{% block conteudo %}

    <h1>Colaboradores Cadastrados</h1>

    <input type="text" placeholder="Pesquisar colaborador">

    <br><br>

    <table border="1" cellpadding="10">

        <tr>
            <th>Nome</th>
            <th>Núcleo</th>
            <th>Turno</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>

        <tr>
            <td>Exemplo Colaborador</td>
            <td>NPP</td>
            <td>Manhã</td>
            <td>Ativo</td>
            <td>
                <button>Editar</button>
                <button>Cancelar Cadastro</button>
            </td>
        </tr>

    </table>

{% endblock %}