{% extends "base.html" %}

{% block conteudo %}

<h1>Editar Colaborador</h1>

<form method="POST" action="/atualizar-colaborador/{{ colaborador[0] }}">

    <label>Nome</label>
    <br>
    <input type="text" name="nome" value="{{ colaborador[1] }}">
    <br><br>

    <label>Núcleo</label>
    <br>
    <input type="text" name="nucleo" value="{{ colaborador[3] }}">
    <br><br>

    <label>Turno</label>
    <br>
    <input type="text" name="turno" value="{{ colaborador[4] }}">
    <br><br>

    <label>Horário</label>
    <br>
    <input type="text" name="horario" value="{{ colaborador[5] }}">
    <br><br>

    <label>Celular</label>
    <br>
    <input type="text" name="celular" value="{{ colaborador[9] }}">
    <br><br>

    <button type="submit">
        Salvar Alterações
    </button>

</form>

{% endblock %}