<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Eletrônico</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Sistema de Ponto Eletrônico</h1>

    <p>
        Controle de frequência e acompanhamento dos colaboradores.
    </p>

    <div class="botoes">

        <a href="/login-gestor">
            <button>Área do Gestor</button>
        </a>

        <a href="/login-colaborador">
            <button>Área do Colaborador</button>
        </a>

    </div>

</div>

</body>
</html>