<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Ponto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Sistema de Controle de Ponto</h1>

    <p>Selecione o perfil para acesso</p>

    <br>

    <a href="/login-gestor">
        <button>
            Área do Gestor
        </button>
    </a>

    <br><br>

    <a href="/login-colaborador">
        <button>
            Área do Colaborador
        </button>
    </a>

</div>

</body>
</html>