<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login Colaborador</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Área do Colaborador</h1>

    <form>

        <input type="text" placeholder="Login">

        <br><br>

        <input type="password" placeholder="Senha">

        <br><br>

        <button type="submit">Entrar</button>

    </form>

</div>

</body>
</html>