<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu Relatório</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Meu Relatório de Ponto</h1>

    <h3>{{ nome }}</h3>

<form method="GET" action="/meu-relatorio">

    <label>Mês:</label>

    <input
        type="month"
        name="mes"
        value="{{ mes_selecionado }}"
    >

    <button type="submit">
        Filtrar
    </button>

</form>

<br>    

<table border="1" cellpadding="10">

    <tr>
        <th>Data</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Observação</th>
    </tr>

    {% for registro in registros %}

    <tr>
        <td>{{ registro[0] }}</td>
        <td>{{ registro[1] }}</td>
        <td>{{ registro[2] }}</td>
        <td>{{ registro[3] or '' }}</td>
    </tr>

    {% endfor %}

</table>

<hr>

<h3>Adicionar Observação</h3>

<form method="POST" action="/salvar-observacao">

    <label>Data:</label>

    <input
        type="date"
        name="data"
        required>

    <br><br>

    <label>Observação:</label>

    <input
        type="text"
        name="observacao"
        placeholder="Ex: Presencial, Home Office, Híbrido"
        required>

    <br><br>

    <button type="submit">
        Salvar / Atualizar Observação
    </button>

</form>

<br>

    <br>

<a href="/gerar-excel?mes={{ mes_selecionado }}">
    <button
        type="button"
        {% if not mes_selecionado %}disabled{% endif %}>
        Baixar Excel
    </button>
</a>

<a href="/gerar-pdf?mes={{ mes_selecionado }}">
    <button
        type="button"
        {% if not mes_selecionado %}disabled{% endif %}>
        Baixar PDF
    </button>
</a>

    <br><br>

    <a href="/ponto">
        <button type="button">
            Voltar
        </button>
    </a>

</div>

</body>
</html>