<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registro de Ponto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Registro de Ponto</h1>

<a href="/">
    <button type="button">
        Sair
    </button>
</a>

<br><br>

<h3>Olá, {{ nome }}</h3>

    <p id="dataAtual"></p>

    <h2 id="relogio">--:--:--</h2>

    <hr>

    <h3>Registros de Hoje</h3>

<div class="card-registro">

    <p>
        Entrada: {{ entrada }}
    </p>

    <p>
        Saída: {{ saida_final }}
    </p>

</div>

    <br>

    <a href="/registrar-entrada">
    <button type="button">
        Entrada
    </button>
</a>

    <br><br>

    <a href="/registrar-saida-final">
    <button type="button">
        Saída
    </button>
</a>

    <br><br>

<a href="/ajuste-ponto">
    <button type="button">
        Solicitar Ajuste de Ponto
    </button>
</a>

<br><br>

<a href="/meu-relatorio">
    <button type="button">
        Meu Relatório de Ponto
    </button>
</a>

</div>

<script>

function atualizarRelogio() {
    const agora = new Date();

    document.getElementById("relogio").innerHTML =
        agora.toLocaleTimeString();
}

setInterval(atualizarRelogio, 1000);
atualizarRelogio();

const hoje = new Date();

document.getElementById("dataAtual").innerHTML =
    hoje.toLocaleDateString('pt-BR');

</script>