<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registro de Ponto</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>Registro de Ponto</h1>

    <h3>Olá, Colaborador</h3>

    <p id="dataAtual"></p>

    <h2 id="relogio">--:--:--</h2>

    <hr>

    <h3>Registros de Hoje</h3>

    <div class="card-registro">

        <p id="registroEntrada">Entrada: --:--</p>

        <p id="registroSaidaIntervalo">
            Saída Intervalo: --:--
        </p>

        <p id="registroRetornoIntervalo">
            Retorno Intervalo: --:--
        </p>

        <p id="registroSaidaFinal">
            Saída Final: --:--
        </p>

    </div>

    <br>

    <button id="entrada" onclick="registrarEntrada()">
        Entrada
    </button>

    <br><br>

    <button id="saidaIntervalo" disabled onclick="registrarSaidaIntervalo()">
        Saída Intervalo
    </button>

    <br><br>

    <button id="retornoIntervalo" disabled onclick="registrarRetornoIntervalo()">
        Retorno Intervalo
    </button>

    <br><br>

    <button id="saidaFinal" disabled onclick="registrarSaidaFinal()">
        Saída Final
    </button>

    <br><br>

<a href="/ajuste-ponto">
    <button type="button">
        Solicitar Ajuste de Ponto
    </button>
</a>

</div>

<script>

function atualizarRelogio() {
    const agora = new Date();

    document.getElementById("relogio").innerHTML =
        agora.toLocaleTimeString();
}

setInterval(atualizarRelogio, 1000);
atualizarRelogio();

function horaAtual() {
    return new Date().toLocaleTimeString();
}

function registrarEntrada() {

    document.getElementById("registroEntrada").innerHTML =
        "Entrada: " + horaAtual();

    document.getElementById("entrada").disabled = true;

    document.getElementById("saidaIntervalo").disabled = false;
}

function registrarSaidaIntervalo() {

    document.getElementById("registroSaidaIntervalo").innerHTML =
        "Saída Intervalo: " + horaAtual();

    document.getElementById("saidaIntervalo").disabled = true;

    document.getElementById("retornoIntervalo").disabled = false;
}

function registrarRetornoIntervalo() {

    document.getElementById("registroRetornoIntervalo").innerHTML =
        "Retorno Intervalo: " + horaAtual();

    document.getElementById("retornoIntervalo").disabled = true;

    document.getElementById("saidaFinal").disabled = false;
}

function registrarSaidaFinal() {

    document.getElementById("registroSaidaFinal").innerHTML =
        "Saída Final: " + horaAtual();

    document.getElementById("saidaFinal").disabled = true;
}

</script>