{% extends "base.html" %}

{% block conteudo %}

<h2>Relatório Individual</h2>

<form method="POST" action="/visualizar-relatorio">

    <select name="colaborador_id" required>

        <option value="">
            Selecionar Colaborador
        </option>

        {% for colaborador in colaboradores %}

            <option value="{{ colaborador[0] }}">
                {{ colaborador[1] }}
            </option>

        {% endfor %}

    </select>

    <br><br>

    <input type="month" name="mes">

    <br><br>

    <button type="submit">
        Visualizar Relatório
    </button>

</form>

<br>

<button>
    Baixar Excel
</button>

<button>
    Baixar PDF
</button>

<hr>

<h2>Relatório por Núcleo</h2>

<select>
    <option>Selecionar Núcleo</option>
    <option>NPP</option>
    <option>NSP</option>
    <option>NT</option>
</select>

<br><br>

<input type="month">

<br><br>

<button>
    Gerar Relatório do Núcleo
</button>

<hr>

<h2>Resultado</h2>

{% if nome_colaborador %}
    <h3>Relatório de {{ nome_colaborador }}</h3>
{% endif %}

<p>
    Quantidade de registros:
    {{ registros|length if registros else 0 }}
</p>

<table border="1" cellpadding="10">

    <tr>
        <th>Data</th>
        <th>Entrada</th>
        <th>Saída</th>
    </tr>

    {% if registros %}

        {% for registro in registros %}

        <tr>
            <td>{{ registro[0] }}</td>
            <td>{{ registro[1] }}</td>
            <td>{{ registro[2] or '--:--' }}</td>
        </tr>

        {% endfor %}

    {% else %}

        <tr>
            <td colspan="3">
                Nenhum registro encontrado.
            </td>
        </tr>

    {% endif %}

</table>

{% endblock %}