{% extends "base_gestor_nucleo.html" %}

{% block conteudo %}

<h1>Cadastro de Colaborador</h1>

<form method="POST" action="/salvar-colaborador">

    <input
        type="text"
        name="nome"
        placeholder="Nome Completo"
        required>

    <br><br>

    <select name="vinculo" required>
        <option value="">Selecione o Vínculo</option>
        <option>Estagiário</option>
        <option>Servidor</option>
        <option>Terceirizado</option>
        <option>Residente Jurídico</option>
        <option>Outro</option>
    </select>

    <br><br>

    <input
        type="text"
        name="nucleo"
        value="{{ nucleo }}"
        readonly>

    <br><br>

    <select name="turno" required>
        <option value="">Selecione o Turno</option>
        <option>Manhã</option>
        <option>Tarde</option>
        <option>Integral</option>
        <option>Personalizado</option>
    </select>

    <br><br>

    <input
        type="text"
        name="horario"
        placeholder="Horário (Ex.: 08:00 às 14:00)">

    <br><br>

    <select name="presencial" required>
        <option value="">Modalidade de Trabalho</option>
        <option>Presencial</option>
        <option>Home Office</option>
        <option>Híbrido</option>
    </select>

    <br><br>

    <select name="unidade_exercicio" required>
        <option value="">Unidade de Exercício</option>
        <option>Procuradoria Regional da Grande São Paulo (PR01)</option>
        <option>Procuradoria Regional de Santos (PR02)</option>
        <option>Procuradoria Regional de Taubaté (PR03)</option>
        <option>Procuradoria Regional de Sorocaba (PR04)</option>
        <option>Procuradoria Regional de Campinas (PR05)</option>
        <option>Procuradoria Regional de Ribeirão Preto (PR06)</option>
        <option>Procuradoria Regional de Bauru (PR07)</option>
        <option>Procuradoria Regional de São José do Rio Preto (PR08)</option>
        <option>Procuradoria Regional de Araçatuba (PR09)</option>
        <option>Procuradoria Regional de Presidente Prudente (PR10)</option>
        <option>Procuradoria Regional de Marília (PR11)</option>
        <option>Procuradoria Regional de São Carlos (PR12)</option>
    </select>

    <br><br>

    <input
        type="text"
        name="procurador_monitor"
        placeholder="Procurador Monitor">

    <br><br>

    <input
        type="text"
        name="celular"
        placeholder="Número de Celular">

    <br><br>

    <input
        type="text"
        name="login"
        placeholder="Login do Colaborador"
        required>

    <br><br>

    <input
        type="text"
        name="senha"
        value="Novocolab123"
        readonly>

    <br><br>

    <button type="submit">
        Cadastrar Colaborador
    </button>

</form>

{% endblock %}
